.list {
  list-style: initial;
  text-align: left;
  margin-left: 15px;
}

.item {
  margin-bottom: 8px;
}

.text {
  cursor: pointer;
  display: ruby-text;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  color: rgb(66, 65, 68);
  font-size: 18px;
}

.text:hover {
  color: rgb(121, 70, 202);
}
